header {
  width:100%;
  background-color: #ccc;
  padding: 10px 0px 10px 0px;
  margin-bottom:20px;
}

.name{
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
  font-weight:bold;
  background-color:#eee;
  padding:5px 10px 10px 10px;
}

.content-width{
  width:960px;
  margin: 0 auto;
}

.link{
  float:right;
  margin-left:20px;
}

.content{
  width: 960px;
  margin: 0 auto;
  overflow:auto;
}

.about-me{
  width: 650px;
  background-color: #eee;
  float:left;
}

.spacer{
  width:40px;
  float:left;
  min-height: 1px;
}

.connect{
  width: 270px;
  background-color: #eee;
  float:left;
}

footer {
  width:100%;
  background-color: #ccc;
  padding: 20px 0px 20px 0px;
  text-align:center;
  position:absolute;
  bottom:0;
}